<div class="row mb-1 mr-0  custom-border">

  <div class="col-md-3 custom-border-right mb-1 mt-1">
      <div class="row text-center">
        <div class="col-md-11">22.09.2022</div>
      </div>
  </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="row">
        <div class="col-md-12 text-center">
          <h5>3</h5>
        </div>
      </div>
    </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Entree</h5>
      </div>
    </div>
  </div>

  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <h5>COMMANDE_TECHNICIEN</h5>
    </div>
  </div>
</div>
