<div class="row mb-1 mr-0  custom-border">

  <div class="col-md-1 custom-border-right p-1 text-center mb-1 mt-1">
    <img src="assets/img_3.png" width="100px" height="100px">
  </div>

  <div class="col-md-5 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa fa-info-circle blue-color" aria-hidden="true"></i></div>
        <div class="col-md-10">rokbi</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa fa-info-circle blue-color" aria-hidden="true"></i></div>
        <div class="col-md-10">hakim</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa fa-phone blue-color" aria-hidden="true"></i></div>
        <div class="col-md-10">06 00 00 00 00</div>
      </div>
    </div>
  </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa fa-qrcode" aria-hidden="true"></i></div>
        <div class="col-md-10">12458</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
        <div class="col-md-10">22.09.2022</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></div>
        <div class="col-md-10">LIVREE</div>
      </div>
    </div>
  </div>


  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link blue-color" >
          <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;
          Modifier
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center blue-color">
        <button type="button" class="btn btn-link text-danger">
          <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
